<nav class="desk">
    <ul role="list" class="desk-nav">
        <li>
            <a href="/" class="nav-item-desk"> 
                <button class="nav-item-desk">Home</button>
            </a>
        </li>
        <li>
            <a href="/blogs/" class="nav-item-desk">
                <button class="nav-item-desk">Blogs</button>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-item-desk">
                <button class="nav-item-desk">About</button>
            </a>
        </li>
        <li>
            <a href="/contact/" class="nav-item-desk">
                <button class="nav-item-desk">Contact</button>
            </a>
        </li>
    </ul>
</nav>

