<nav class="desk">
    <ul role="list" class="desk-nav">
        <li>
            <a href="/" class="nav-item-desk">Home</a>
        </li>
        <li>
            <a href="/blogs/" class="nav-item-desk">Recipes</a>
        </li>
        <li>
            <a href="/about/" class="nav-item-desk">About</a>
        </li>
        <li>
            <a href="/contact/" class="nav-item-desk">Contact</a>
        </li>
        <a class="media-image" href="https://www.instagram.com/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png" alt="instagram photo">
        </a>
        <a class="media-image" href="https://twitter.com/?lang=en">
            <img src="https://www.hamiltoncountyhealth.org/wp-content/uploads/Twitter-Logo.png" alt="twitter photo">
        </a>
    </ul>
</nav>

