<nav class="desks">
    <ul role="list" class="deskss-nav">
        <li>
            <a href="/" class="navss-item-desk">Home</a>
        </li>
        <li>
            <a href="/blogs/" class="navss-item-desk">Blog</a>
        </li>
        <li>
            <a href="/about/" class="navss-item-desk">About</a>
        </li>
    </ul>
</nav>