@import url(variables.css);

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: clip;
}


.blog-background{
  background-color: var(--white);
}
.blog-header{
  display: flex;
  background-color: var(--red);
  width: 100%;
  justify-content: space-between;
}

.blog-title{
  font-size: var(--h2);
  font-family: 'Inspiration', cursive;
  color: var(--white);
  margin: 1rem;
  padding: 1rem;
}

.desk-nav{
  font-size: var(--h2);
  display: flex;
  padding: 1rem;
  font-family: 'Oswald', sans-serif;
  color: var(--red);
  margin-top: 1.5rem;
}

.nav-item-desk{
  margin-right: 4rem;
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  font-size: var(--h3);
  background-color: transparent;
  border-color: transparent;
}

.second-header{
  text-align: center;
  margin: 5rem;
  font-family: 'Oswald', sans-serif;
  color: var(--red);
}

.articles{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  color: var(--red);
}

.img-preview{
  height: 30rem;
  width: 40rem;
  display: flex;
}

.article-link{
  font-size: var(--h3);
  margin: .5rem;
  font-family: 'Oswald', sans-serif;
  color: var(--red);
}


.article-author{
  font-size: var(--h4);
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.article-description{
  font-size: var(--h5);
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5rem;
  width: 100%;
  text-align: center;
}

.home-background{
  background-image: url(https://c.tenor.com/Vei5ISMlVgEAAAAd/anime-food.gif);
  background-size: cover;
}


.header-container{
  margin: auto;
  margin-top: 5rem;
  font-family: 'Oswald', sans-serif;
  height: 75%;
  width: 85%;
}

.header-title{
  margin-top: 20rem;
  text-align: center;
  font-family: 'Inspiration', cursive;
  color: var(--white);
  font-size: 20rem;
}

.desks-nav{
  display: flex;
  justify-content: center;
}

.navs-item-desk {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--white);
  text-align: center;
  font-size: var(--h2);
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;

}

.navs-item-desk{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.navs-item-desk:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.navs-item-desk:hover{
  padding-left:8px;
}

.navs-item-desk:hover:after {
  opacity: 1;
  right: 10px;
}

.article-background{
  background-color: white;

}

.headers-title{
  text-align: center;
  margin: 5rem;
  color: var(--red);
}


.figure-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50%;
}

p{
  font-size: var(--h4);
  margin: 1rem auto;
  width: 50%;
  padding:3rem;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: var(--red);
  text-align: center;
}

.troll-face{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


.copyright{ 
  margin-top: 30rem;
  font-size: var(--h5);
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

@media (max-width: 750px) {
  .nav-item-desk{
    
    font-size: 2.4rem;
    margin: 1rem;
  }
  .blog-header{
    flex-wrap: wrap;
  }
  
  .article-text{
    margin-top: 3rem;
  
  }


  .header-title{
    font-size: 10rem;
  }
  
  .second-header{
    font-size: var(--h3);
  }
  p{
    font-size: var(--h5);
    width: 90%;
  }
  .troll-face{
    width: 20rem;
  }
  .blog-title{
    margin-left: 7rem;
  }
  .home-background{
    background-image: url(https://data.whicdn.com/images/333390680/original.gif);
    width: 100%;
  }
  .headers-title{
    font-size: var(--h3);
  }
  .figure-image{
    width: 90%;
    height: 30%;
  }
  .navs-item-desk{
    margin-left: 5rem;
    color: var(--white)
  }
  .article-text{
    width: 90%;
    display: block;
    margin: auto;
  }
  

}

@media (max-width: 1100px) {
  .article-text{
    margin-top: 2rem;
  }
  .home-background{
    background-image: url(https://images.unsplash.com/photo-1652252036231-cf8f5f6ff23d?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687);
    width: 100%;
  }
}

.nav-item-desk:hover  {
  cursor: pointer;
  
}

.nav-item-desk:hover{
  color: yellow;
}



.article-text:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

@keyframes slidebg {
  to {
    background-position:20vw;
    background-position:10vw;
  }
}
.scrolling-image {
  background: url(https://3.files.edl.io/aeb1/20/12/02/154937-46cc468f-b7f4-4bb3-945e-3265bdb605d4.jpg);
  width: 100%;
  height: 50%;
  background-size: cover;
  animation:slidebg .4s linear infinite;
}
.scrolling-image:hover {
  filter: invert(1);
}
